/* assets/css/style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #f0f0f0;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #1f1f1f;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
